body {
  background: linear-gradient(90deg, #440080, #400080, #400781);
  transition: 1s;
}
/* MENU BAR*/
#menubar {
  height: 60px;
  width: 100%;
  background: #340574;
  position: fixed;
  transition: top 0.3s;
  top: 0px;
}
#logo {
  height: 60px;
  float: left;
  margin-left: 20px;
}

#menubar ul {
  height: 60px;
  list-style-type: none;
  margin-right: 50px;
  padding: 0;
  overflow: hidden;
  float: right;
  margin-top: 0px;
}
#menubar li {
  display: block;
  float: left;
  width: 150px;
  text-align: center;
}
#menubar li a {
  display: inline-block;
  color: white;
  background: transparent;
  font-weight: 800;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Passion One", cursive;
  font-size: 20px;
  font-style: italic;
}
#menubar li a:hover {
  cursor: url("../image/home/hover_cursor.png"), auto;
  text-shadow: 2px 2px 5px blue;
  color: #f79323;
}
#menubar .active {
  color: #f79323;
}

/* BANNER */
#banner {
  top: 100px;
  width: 100%;
  height: 500px;
  background-image: url("../image/galaxy.jpg");
  background-size: 100%;
}
.intro {
  margin-top: 100px;
  margin-left: 50px;
  width: 50%;
  height: auto;
  float: left;
  box-shadow: 0 8px 8px 0 blue, 0 6px 20px 0 blueviolet;
}
.Gameitthoi {
  margin-top: 200px;
  margin-right: 50px;
  width: 40%;
  text-align: center;
  float: right;
}
.Gameitthoi h {
  font-size: 50px;
  font-family: "Press Start 2P", cursive;
  text-shadow: 2px 0 0 #f16623, -2px 0 0 #f79323, 0 2px 0 #ffc315, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.Gameitthoi p {
  font-family: "Passion One", cursive;
  color: wheat;
  font-size: 20px;
  font-style: italic;
}
.Gameitthoi .myBtn {
  font-family: "Passion One", cursive;
  color: wheat;
  font-size: 20px;
  width: 150px;
  height: 40px;
  background: linear-gradient(90deg, #ffc315, #f79323, #f16623);
  -ms-transform: skewY(-10deg); /* IE 9 */
  transform: skewY(-10deg);
  border-radius: 5px;
}

#breakline {
  width: 100%;
  height: 50px;
  overflow: hidden;
  margin-top: -10px;
}
#breakline .twoline {
  width: 150%;
  position: relative;
}
#breakline .left {
  background: linear-gradient(20deg, #ffc315, #f79323, #f16623);
  width: 40%;
  height: 40px;
  transform: skew(25deg);
  margin-left: -20px;
  margin-top: 10px;
  float: left;
}
#breakline .right {
  background: linear-gradient(20deg, #ffc315, #f79323, #f16623);
  width: 50%;
  height: 40px;
  transform: skew(25deg);
  margin-left: -200px;
  float: left;
}
#Reviews {
  margin-top: 40px;
  width: 100%;
  height: 1500px;
}
#Review_Header {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-size: 60px;
  text-align: center;
  font-family: "Passion One", cursive;
  color: #1e023d;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

#leftpart {
  margin-top: 150px;
  margin-left: 10px;
  width: 20%;
  height: 410px;
  float: left;
  border: 5px solid #ffc315;
  border-radius: 10px;
  background: linear-gradient(45deg, #af4e93, #562382);
  transition: 1.5s;
  opacity: 0;
}
#leftpart .Gbox {
  width: 220px;
  overflow: hidden;
}
#leftpart .Gbox .slide {
  width: 9999px;
  transition: all 0.5s;
}
#leftpart .Gbox .slide .page {
  float: left;
  width: 220px;
}
#leftpart .Gbox .slide .page .game {
  width: 200px;
  margin-left: 10px;
  transition: 0.3s;
  margin-left: 20px;
}
#leftpart .Gbox .slide .page .game :hover {
  border: 2px solid #ffc315;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}
#leftpart .Gbox .slide .game h1 {
  color: white;
  font-size: 20px;
  font-family: "Passion One", cursive;
  transition: 0.3s;
}

#leftpart .slidebtn {
  margin-top: 20px;
}
#leftpart .sldBtn {
  font-family: "Passion One", cursive;
  color: wheat;
  font-size: 20px;
  width: 100px;
  height: 40px;
  background: linear-gradient(90deg, #ffc315, #f79323, #f16623);
  border-radius: 5px;
  margin-left: 20px;
}

#centerpart {
  width: 1000px;
  height: 1400px;
  float: left;
  background-image: url("../image/Scroll.png");
  background-size: 100%;
  background-repeat: no-repeat;
  transition: 0.6s;
  opacity: 0;
}
#centerpart .GameTitle {
  font-size: 60px;
  font-family: "Dancing Script", cursive;
  color: black;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 50px;
}
#centerpart .Gameinfo {
  font-size: 20px;
  font-family: "Dancing Script", cursive;
  color: black;
  margin-left: 110px;
  margin-right: 50px;
}
#centerpart .Gameinfo h {
  font-size: 30px;
}

#breakline2 {
  width: 100%;
  height: 50px;
  overflow: hidden;
  margin-top: -10px;
}
#breakline2 .twoline2 {
  width: 150%;
  position: relative;
}
#breakline2 .line {
  width: 100%;
}
#breakline2 .left2 {
  background: linear-gradient(20deg, #ffc315, #f79323, #f16623);
  width: 40%;
  height: 40px;
  transform: skew(25deg);
  margin-left: -2000px;
  margin-top: 10px;
  float: left;
  transition: 1s;
}
#breakline2 .right2 {
  background: linear-gradient(20deg, #ffc315, #f79323, #f16623);
  width: 50%;
  height: 40px;
  transform: skew(25deg);
  margin-left: 2000px;
  float: left;
  transition: 1.5s;
}

#LibraryTitle {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-size: 60px;
  text-align: center;
  font-family: "Passion One", cursive;
  color: #1e023d;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
#MyLibrary {
  clear: both;
  margin-top: 50px;
  margin-left: 10px;
  width: 99%;
  height: 600px;
  float: left;
  border: 5px solid #ffc315;
  border-radius: 10px;
  background-image: url("../image/milkyway.jpg");
  background-size: 100%;
  transition: 1.5s;
}
#MyLibrary .LibraryBox {
  width: 700px;
  height: 350px;
  overflow: hidden;
  margin: 50px;
  float: left;
}
#MyLibrary .LibraryBox .LibrarySlide {
  width: 9999px;
  transition: all 0.5s;
}
#MyLibrary .LibraryBox .LibrarySlide .LibraryPage {
  float: left;
  width: 700px;
}
#MyLibrary .LibraryBox .LibrarySlide .LibraryPage .Gameimg {
  width: 100px;
  height: 100px;
  margin-left: 65px;
  margin-top: 50px;
  border-radius: 20px;
}

#MyLibrary .TrailerFrame {
  float: left;
  width: 500px;
  height: 300px;
  margin-top: 50px;
  border: 5px solid #ffc315;
  border-radius: 10px;
}
.Library-body {
  background-color: #f9f9f9;
  width: 100%;
}
.navbar {
  background-color: #340574;
  font-family: "Passion One", cursive;
  font-size: 20px;
  border-radius: 0;
  border: 0px;
  padding-right: 30px;
  min-height: 60px;
}
.navbar-nav li {
  padding: 0px 16px 0px 16px;
}
.navbar-nav a {
  color: #ffffff;
}
.navbar-nav a :hover {
  color: #f79323;
}
.navbar-nav .navbar-brand {
  padding: 8px;
  color: #f79323;
  font-size: 20px;
}
.navbar-toggler {
  background-color: #ffffff;
  color: #f79323;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255, 102, 203);
}
.Gameitthoi-1 {
  margin-top: 50px;
  margin-bottom: -20px;
  text-align: center;
}
.Gameitthoi-1 h {
  font-size: 50px;
  font-family: "Press Start 2P", cursive;
  text-shadow: 2px 0 0 #f16623, -2px 0 0 #f79323, 0 2px 0 #ffc315, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.carousel {
  padding-top: 60px;
}
.carousel-item img {
  width: 100%;
}
.myIcon {
  color: #340574;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100px;
  height: 100px;
}
.category {
  height: 100%;
}
.panel-G .panel-heading {
  background-color: #340574;
  font-family: "Passion One", cursive;
  color: #f79323;
  font-size: medium;
}
img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
hr.new1 {
  border-top: 2px solid #340574;
}

.hexagon-gallery {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 14px;
  padding-bottom: 50px;
}

.hex {
  border: 1px solid #340574;
  display: flex;
  position: relative;
  width: 240px;
  height: 265px;
  background-color: #424242;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hex:first-child {
  grid-row-start: 1;
  grid-column: 2 / span 2;
}

.hex:nth-child(2) {
  grid-row-start: 1;
  grid-column: 4 / span 2;
}

.hex:nth-child(3) {
  grid-row-start: 1;
  grid-column: 6 / span 2;
}

.hex:nth-child(4) {
  grid-row-start: 2;
  grid-column: 1 / span 2;
}

.hex:nth-child(5) {
  grid-row-start: 2;
  grid-column: 3 / span 2;
}

.hex:nth-child(6) {
  grid-row-start: 2;
  grid-column: 5 / span 2;
}

.hex:nth-child(7) {
  grid-row-start: 2;
  grid-column: 7 / span 2;
}

.hex:nth-child(8) {
  grid-row-start: 3;
  grid-column: 2 / span 2;
}

.hex:nth-child(9) {
  grid-row-start: 3;
  grid-column: 4 / span 2;
}

.hex:nth-child(10) {
  grid-row-start: 3;
  grid-column: 6 / span 2;
}
